<!-- <div class="wrapper">
    <div class="videowrapper">
        <youtube-player suggestedQuality="highres" [videoId]="videoId"></youtube-player>
    </div>
</div> -->

<div class="wrapper">
    <!-- <div style="text-align: center;padding: 1%;">
        <h2>Chat Bots & Voice Bots </h2>
    </div> -->

    <div class="carousel js-flickity gallery">
        <!-- <div class="carousel-cell" *ngFor='let link of links | keyvalue'>
            <iframe width="100%" height="100%" src='{{link.value}}'> </iframe>
        </div> -->
        <div class="carousel-cell"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/Do97F1bOu3Q"> </iframe></div>
        <div class="carousel-cell"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/6DBSEdOVnBU"> </iframe></div>
        <div class="carousel-cell"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/JZwTjJQTgW8"> </iframe></div>
        <div class="carousel-cell"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/kNdEQ4vlUEQ"> </iframe></div>
        <div class="carousel-cell"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/7NzN4Q2c3Do"> </iframe></div>

    </div>
</div>