.wrapper {
    /* margin: 1%;
    padding: 3%; */
}

.videowrapper {
    text-align: center;
}

.wrapper div div div {
    width: 100%;
    height: 60vh
}

.wrapper div div {
    width: 100%;
    height: 60vh
}