.home-header {
    height: 93vh;
    background-size: cover;
    width: auto;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
}

.home-header div {
    margin: 2%;
}

h3 span {
    color: brown
}