<div class="home-header" style="background-image: url('assets/images/bg-1.jpeg');">
<!--url('assets/images/home-bg.jfif');">-->
    <div>
        <h1>DHILIP KUMAR </h1>
        <h3>I'm a <span class="typed"></span></h3>
        <!-- <p>Designer, Developer, Freelancer</p> -->
        <p>
            <!-- <mat-icon> email</mat-icon> -->
            <a href="mailto:dhilipkumar7235@gmail.com">
                <img src="assets/icons/email.png" width="15px" /> dhilip_kumar@u.nus.edu
            </a>
        </p>
        <p>
            <!-- <mat-icon> phone</mat-icon> -->
            <!-- <img src="assets/icons/phone.png" width="30px" /> -->
            <!-- (+65) 90909090</p> -->
            <app-sociallinks [isfooter]='isfooter' style="margin-left: 5%;"></app-sociallinks>
    </div>
</div>
