.example-spacer {
    flex: 1 1 auto;
}

.mat-sidenav-container {
    min-height: 92vh !important;
}

a {
    text-decoration: none;
    white-space: normal;
}

button {
    min-width: min-content;
}

.mat-toolbar {
    /* background: #fff; */
    /* height: 8vh; */
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    background: white;
    text-align: center;
    height: 8vh;
}

.example-container {
    /*background: #fff;*/
  /*background: rgb(238,174,202);*/
  /*background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);*/
  /*background: #0C2340*/
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}


/*
mat-sidenav-container {
    height: 100%;
} */


/*
mat-sidenav {
    width: 20%
} */
