<mat-toolbar class="mat-elevation-z8" style="vertical-align: middle;">
    <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
  <mat-icon>menu</mat-icon>
</button>
    </div>
    <img src="assets/logo.png" height="90%" routerLink="/home" />
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
        <button mat-button routerLink="/projects">Projects</button>
        <button mat-button routerLink="/certificates">Certification</button>
<!--        <button mat-button routerLink="/chatbots">Chatbots</button>-->
        <button mat-button [matMenuTriggerFor]="menuresume">Resume</button>
      <button mat-button routerLink="/about">Know more about me..</button>
        <button class="menu_btn" mat-button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
</mat-toolbar>

<mat-sidenav-container fxFlexFill class="example-container">
  <div class="css-jija50" style="transform: translateX(-60%);"></div>
    <mat-sidenav style="width: 30%;" color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
        <div fxLayout="column">
            <button mat-button (click)="sidenav.toggle()" routerLink="/about">About</button>
            <button mat-button (click)="sidenav.toggle()" routerLink="/projects">Projects</button>
            <button mat-button (click)="sidenav.toggle()" routerLink="/certificates">Certification</button>
<!--            <button mat-button (click)="sidenav.toggle()" routerLink="/chatbots">Chatbots</button>-->
            <button mat-button [matMenuTriggerFor]="menuresume">CV</button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <!-- <div style="margin-bottom: 7vh;"> -->
        <router-outlet></router-outlet>
        <!-- </div> -->
        <!-- <div> -->
        <!-- <footer> -->
        <!-- <span>&copy; All rights reserved</span> -->
        <!-- <p></p> -->
        <!-- <app-sociallinks [isfooter]='isfooter' style="margin-left: 5%;"></app-sociallinks> -->
        <!-- </footer> -->
        <!-- </div> -->
    </mat-sidenav-content>

</mat-sidenav-container>

<mat-menu #menuresume="matMenu">
    <button mat-menu-item (click)="sidenav.toggle()" [routerLink]="['/pdfload', 'assets/resume/fullstackcv.pdf']">
    <mat-icon>picture_as_pdf</mat-icon>
    <span>Full Stack Cv</span>
  </button>
    <button mat-menu-item (click)="sidenav.toggle()" [routerLink]="['/pdfload', 'assets/resume/dataanalystcv.pdf']">
    <mat-icon>picture_as_pdf</mat-icon>
    <span>Data Analyst Cv</span>
  </button>
</mat-menu>

<mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home">
    <mat-icon>face</mat-icon>
    <span>Home</span>
  </button>
    <button mat-menu-item disabled>
      <img src="assets/icons/help.png"  width="30px"/>
    <span>Contact</span>
  </button>
</mat-menu>
